@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ---------FONT----------*/
  --font-family: 'Poppins', sans-serif;
  /* --font-size: 16px; */
  --font-weight-primary: 700;
  --font-weight-secondary: 500;
  --font-color-primary: #ffffff;
  --font-color-secondary: #13FF00;
  --font-color-tertiary: #8f8f8f;
  --font-color-quaternary: #E2E2E2;
  --font-color-quinary: #000000;

  /* BG COLOR */
  --bg-color-primary: #13FF00;
  --bg-color-secondary: 32, 32, 32;
  --bg-color-tertiary: #161616;
  --bg-color-quaternary: #1d1d1d;
  --bg-color-social: #353535;

  /* SHADOW COLOR */
  --shadow-color-primary: 32, 32, 32;
  --shadow-opacity: 0.7;

  /* BORDERS COLOR */
  --border-color-primary: #000000;
}

@media (min-width: 1px) and (max-width: 1279.8px) {
  :root {
    --font-size: 12px;
  }
}

@media (min-width: 1280px) {
  :root {
    --font-size: 16px;
  }
}

html {
  font-size: var(--font-size);
}

body {
  @apply font-poppins;
}

h1 {
  color: var(--font-color-primary);
  font-size: 3.125rem;
  line-height: 4rem;
  font-weight: var(--font-weight-primary);
}

h2 {
  color: var(--font-color-primary);
  font-size: 2.75rem;
  line-height: 3.5rem;
  font-weight: var(--font-weight-primary);
}

h3 {
  color: var(--font-color-secondary);
  font-size: 2.75rem;
  line-height: 3.25rem;
  font-weight: var(--font-weight-primary);
}

h4 {
  color: var(--font-color-primary);
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: var(--font-weight-primary);
}

h5 {
  color: var(--font-color-secondary);
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: var(--font-weight-secondary);
}

p {
  color: var(--font-color-tertiary);
  font-weight: 500;
}

strong {
  color: var(--font-color-secondary);
}

.container {
  @apply mx-auto;
}

.header {
  @apply relative w-full h-screen overflow-hidden bg-no-repeat bg-cover;
  background-image: url('../assets/img/header_bg.jpg');
  background-position: right;
}

/* absolute item navigation */
.nav {
  @apply absolute max-md:hidden top-10 left-0 w-full z-30;
}

.nav__list {
  @apply flex gap-12 w-auto mx-auto my-0 justify-center items-center;
}

.nav__item {
  @apply relative;
}

.nav__link {
  @apply text-xl block relative font-bold pt-3 pb-2 px-3;
  color: var(--font-color-primary);
  border-bottom: 4px solid transparent;
}

.nav__link:focus,
.nav__link:hover,
.mav__link--active {
  color: var(--font-color-secondary);
  border-bottom: 4px solid var(--font-color-secondary);
}

.hero {
  @apply h-full grid max-lg:grid-cols-1 max-lg:justify-items-center lg:grid-cols-2 lg:justify-items-end;
  background-color: rgba(var(--bg-color-secondary), 0.7);
  /* max-width: 72%; */
  /* padding-right: 7%; */
  /* clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); */
}

.hero__content {
  @apply p-10 flex flex-col justify-center gap-10;
  max-width: 720px;
}

.hero__name {
  @apply py-3;
}

/* GREEN LINE HERO */
.hero__name-line {
  @apply block h-1.5;
  background-color: var(--font-color-secondary);
  width: calc(100% - 150px);
  margin-left: 150px;
}

.hero__title-container {
  @apply relative w-full;
}

.hero__title {
  @apply pe-4 absolute z-20;
}

.hero__title-shadow {
  @apply pt-3 ps-4;
  font-size: 3.125rem;
  line-height: 4rem;
  font-weight: var(--font-weight-primary);
  color: rgba(var(--shadow-color-primary, var(--shadow-opacity)));
  text-shadow: 0 0 3px var(--font-color-primary);
}

.hero__subtitle {
  @apply block font-medium text-xl;
  color: var(--font-color-tertiary);
}

.link__container {
  @apply flex flex-wrap gap-x-20 gap-y-4 justify-center;
}

.link__download-cv {
  @apply text-xl font-semibold flex items-center justify-center gap-4 min-h-14 min-w-40;
  color: var(--font-color-primary);
}

.link__portfolio {
  @apply text-xl font-semibold flex items-center justify-center gap-4 min-h-14 min-w-64;
  color: var(--font-color-quinary);
  background-color: var(--bg-color-primary);
  border-radius: 10px;
}

.social {
  @apply flex flex-wrap gap-8 justify-center;
}

.social__link {
  @apply block p-3.5;
  color: var(--font-color-primary);
  background-color: var(--bg-color-social);
  border-radius: 31.5px;
}

/* -----------------------------------ABOUT SECTION----------------------------------- */

.about,
.experience {
  @apply relative py-48 w-full overflow-hidden;
  background-color: var(--bg-color-tertiary);
  border: 1px solid var(--border-color-primary);
}

.about__container {
  @apply mx-auto px-3;
  max-width: 942px;
}

.about__title {
  @apply block mx-auto text-center my-12;
}

.about__line,
.projects__line {
  @apply mx-auto block h-1.5 w-20 mt-1.5;
  background-color: var(--font-color-secondary);
}

.about__text {
  @apply font-medium text-center;
  font-size: 1.875rem;
  line-height: 2.5rem;
}

.about__bg-text {
  @apply absolute block font-bold text-center uppercase;
  font-size: 12.5rem;
  color: rgb(var(--shadow-color-primary));
  text-shadow: 0 0 4px var(--border-color-primary);
}

.about .about__bg-text {
  top: 0;
  right: -32.5rem;
}

.about .bg-dots {
  @apply absolute flex flex-col;
  gap: 22px;
  bottom: -35px;
  left: -16px;
}

.bg-dots__list {
  @apply flex;
  gap: 22px;
}

.bg-dots__item {
  @apply block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 0 4px var(--border-color-primary);
}

.bg-dots--group-1 {
  background-color: rgba(var(--shadow-color-primary), 1);
}

.bg-dots--group-2 {
  background-color: rgba(var(--shadow-color-primary), 0.8);
}

.bg-dots--group-3 {
  background-color: rgba(var(--shadow-color-primary), 0.6);
}

.bg-dots--group-4 {
  background-color: rgba(var(--shadow-color-primary), 0.4);
}

.service {
  @apply pt-20 pb-36;
  background-color: var(--bg-color-quaternary);
}

.service__title {
  @apply block mx-auto text-center;
}

.service__list {
  @apply grid justify-items-center gap-y-24 py-16 max-lg:grid-cols-1 lg:grid-cols-2;
}

.service__item {
  @apply flex flex-row gap-5 items-center font-medium text-3xl min-w-96;
  color: var(--font-color-quaternary);
}

.experience .about__bg-text {
  bottom: 0;
  left: -32.5rem;
}

.experience .bg-dots {
  @apply absolute flex flex-col;
  gap: 22px;
  top: -15px;
  right: 50px;
}

.experience .container {
  @apply grid justify-items-center max-lg:grid-cols-1 lg:grid-cols-2;
}

.experience__container {
  @apply flex flex-col gap-14 pb-14;
}

.experience__title {
  @apply block w-fit text-4xl font-bold text-white;
}

.experience__item {
  @apply flex flex-col gap-3.5;
}

.experience__item-place {
  @apply text-xl;
}

.experience__item-period {
  @apply order-first text-xl font-semibold;
  color: var(--font-color-primary);
}

.projects {
  @apply relative h-screen flex flex-col overflow-hidden;
  background-color: var(--bg-color-quaternary);
}

.projects .container {
  @apply relative h-full z-20 py-24 top-0 bottom-0;
}

.projects::before,
.projects::after {
  @apply block absolute z-10;
  content: '';
  height: 50rem;
  width: 50rem;
  /* margin-top: -33.375rem; */
  /* margin-left: -33.375rem; */
  background-color: var(--bg-color-social);
  clip-path: circle(50% at 50% 50%);
}

.projects::before {
  bottom: 12rem;
  left: 15rem;
  margin-bottom: -25rem;
  margin-left: -25rem;
}

.projects::after {
  top: 12rem;
  right: 15rem;
  margin-top: -25rem;
  margin-right: -25rem;
}

.projects__title {
  @apply block mx-auto text-center my-12;
}

.projects__content {
  @apply grid items-center justify-center text-6xl;
  min-height: calc(100% - 12rem);
}